/*******************

  font-family: 'Open Sans', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;


************************/


* {
  box-sizing:border-box;
  margin:0;
  padding:0;
}

html, body {
  scroll-behavior:smooth;
  font-family: 'Raleway', sans-serif;
  color:#555;
  background-image:linear-gradient(#fff, rgba(0,0,0,0.05));
  margin:0 auto;
}

.site-wrapper {
  max-width:1400px;
  margin:0 auto;
  //position:relative;
  //display:grid;
}


.side-nav {
  min-height:100vh;
  width:100px;
  background-color:transparent;
  position:fixed;
  z-index:5;
  display:grid;
  
}

.side-nav-contents {
  display:grid;
  height:50%;
  align-self:center;
  justify-self:center;
}

#home-aside {
  justify-self:center;
  align-self:center;
  background-color:#fff;
  border-radius:50%;
  height:35px;
  width:35px;
  display:grid;
  text-decoration:none;
}

.home-icon {
  font-size:28px;
  color:rgba(0,0,0,0.3);
  transition:all .2s ease-in-out;
  justify-self:center;
  align-self:center;

}

.home-icon:hover {
  color:rgba(0,0,0,0.5);
}

.section {
  height:20px;
  width:20px;
  border-radius:50%;
  border:2px solid rgba(0,0,0,0.3);
  align-self:center;
  justify-self:center;
  cursor:pointer;
  background-color:rgba(225,225,225,0.6);
  transition:all .2s ease-in-out;
}

.section:hover {
  background-color:#fff;
  border:2px solid rgba(0,0,0,0.5);
}




.page-overlay {
  position:fixed;
  height:100vh;
  width:100vw;
  background-color:rgba(0,0,0,0.7);
  z-index:15;
  display:none;
  transition:all .2s ease-in-out;
}

#header {
  width:100%;
  height:94px;
  position:absolute;
  //background-image:linear-gradient(#fff,#fff,rgba(225,225,225,0.8));
  z-index:10;
  left:50%;
  transform:translateX(-50%);
  
}

.nav {
  max-width:1200px;
  margin:0 auto;
  background-color:#fff;
  display:grid;
  grid-template-columns:100px auto;
  height:100%;
  padding:0 20px;
}

.logo {
  align-self:center;
  text-align:left;
  font-weight:bold;
  font-size:20px;
  transition:all .2s ease-in-out;
}

.logo span {
  font-size:12.36px;
}

.logo a {
  text-decoration:none;
  color:#333;
  line-height:22px;
  
}

.menu-wrapper {
  justify-self:end;
  display:grid;
}

.menu-content {
  align-self:center;
  text-align:center;
  position:relative;
}

.menu-logo-collapsed {
  display:none;
}

.menu-content .item {
  display:inline-block;
  padding:10px 15px;
  opacity:.7;
  transition:all .2s ease-in-out;
  position:relative;
}

.menu-content .item::after {
  content:'';
  display:block;
  width:0;
  height:2px;
  background-color:#333;
  transition:width .3s linear;
  margin-top:3px;
}

.menu-content .item:hover::after {
  width:100%;
  transition:width .3s;
}

.menu-content .item:hover {
  opacity:1;
}

.menu-content a {
  text-decoration:none;
  color:#333;
}

.menu-content .active::after {
  content:'';
  width:100%;
  height:2px;
  background-color:#333;
  margin-top:3px;
}

.nav-contact {
  padding-right:0!important;
}


.toggle-wrapper {
    position:absolute;
    height:100%;
    width:32px;
    right:20px;
    display:grid;
    display:none;
    z-index:30;
  }
  
  .toggle-content {
    position:relative;
    height:32px;
    width:32px;
    align-self:center;
    cursor:pointer;
  }
  
  .toggle-content:hover .line {
    opacity:1;
  }
  
  .line {
    height:4px;
    width:100%;
    background-color:#333;
    position:absolute;
    opacity:0.7;
    border-radius:25px;
  }
  
  .line-1 {
    top:25%;
    transform:translateY(-50%);
  }
  
  .line-2 {
    top:50%;
    transform:translateY(-50%);
  }
  
  .line-3 {
    bottom:25%;
    transform:translateY(50%);
  }


/************************

 TITLE WRAPPER

****************************/

.title-wrapper-1 {
  min-height:100vh;
}



.title-wrapper {
  max-width:1400px;
  text-align:center;
  margin:0 auto;
  transform:translateY(100px);
  opacity:0;
  transition:all .5s ease-in-out;
  transform-origin:bottom;
  display:grid;
}


.title-content {
  position:relative;
  align-self:center;
}

.underline {
  max-width:75%;
  height:2px;
  background-color:rgba(0,0,0,.5);
  margin:20px auto;
  
}

.title {
  font-family: 'Quicksand', sans-serif;
  font-size:20px;
  display:inline-block;
  margin-bottom:16px;
  letter-spacing:0.5em;
  padding-left:0.5em;
  line-height:32px;
  color:#333;
}

.title-wrapper p {
   font-family: 'Raleway', sans-serif;
   font-size:14px;
   padding:0 20px;
   color:#555;
   letter-spacing:0.2em;
}


.social-media-wrapper {
  height:50px;
  width:300px;
  position:relative;
  padding:20px 0 30px 0;
  margin:20px auto;
  margin-bottom:0!important;
  z-index:10;
  
}

.social-media-content {
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  //margin-top:20px;
  //margin-bottom:20px;
  width:195px;
  
}

.social-wrapper {
  height:35px;
  width:35px;
  position:relative;
  border-radius:50%;
  border:2px solid rgba(0,0,0,0.5);
  float:left;
  margin:0 15px;
  cursor:pointer;
  z-index:1;
}

.social-wrapper:hover a {
  color:rgba(51,51,51, 1)
  
}

.social-wrapper:hover {
  transform:scale(1.07);
  transform-origin:center;
}

.social-wrapper a {
  text-decoration:none;
  color:rgba(0,0,0,0.5);
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  z-index:2;
  transform-origin:center;
  
}


/**************************

  MAIN WRAPPER


********************************/

.main-wrapper {
  max-width:1200px;
  margin:0 auto;
}

.sec-2-title {
  font-family: 'Quicksand', sans-serif;
  font-size:20px;
  display:inline-block;
  margin-bottom:16px;
  letter-spacing:0.5em;
  line-height:32px;
}

#category-wrapper {
  max-width:1200px;
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
  grid-gap:20px;
  padding:20px;
  position:relative;
}

.product-cat {
  overflow:hidden;
  position:relative;
  transition:all .5s ease-in-out;
  background-color:rgba(0,0,0,0.8);
  
}

.product-cat a:hover img {
  transform:scale(1.1);
  transform-origin:center;
  opacity:.7;
}

.product-cat a {
  color:#fff;
}

.product-cat h2 {
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%);
  font-family: 'raleway', sans-serif;
  font-weight:700;
  z-index:2;
  letter-spacing:0.2em;
}

.product-cat img {
  max-width:100%;
  object-fit:none;
  transition:all .5s ease-in-out;
  transform:scale(1.03);
}

.earings img {
  object-position:60% 100%;
  height:100%;
  width:100%;
}

.necklace img {
  object-position:30% 100%;
  height:100%;
  width:100%;
}

.bracelet img {

  object-position:80% 42%;
}

.rings img{
  object-position: 10% 50%;
  height:100%;
  width:100%;
  transform:scale(1.05);
}

.rings:hover img {
  transform:scale(1.07);
}





.title-content {
  font-family:'raleway', sans-serif;
  font-size:18px;
  display:inline-block;
  margin:16px 0;
  letter-spacing:0.1em;
  line-height:32px;
  font-weight:400;
  text-transform:uppercase;
  opacity:.7;
}

.sec-2-wrapper {
  padding:40px 20px !important;
  text-align:center;
  
}


/*************************

  BENEFITS SECTION!

******************************/


.benefits-wrapper {
  position:relative;
  max-width:1200px;
  padding:20px;
  margin:0 auto 60px auto;
}

.benefits-content {
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
  grid-gap:20px;
  padding:10px;
  text-align:center;
}

.benefits {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  padding:20px;
  font-family: 'Quicksand', sans-serif;
  color:rgba(0,0,0,0.7);
}

.benefit-icon-wrapper {
  width:100%;
  margin:20px 0;
}

.benefit-icon {
  font-size:32px;
  color:#4285F4;
}

.benefits p {
  line-height:28px;
}

#main-product-wrapper {
  min-height:100vh;
  display:grid;
  position:relative;
}

.product-spec-wrapper {
  max-width:1200px;
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(280px, 1fr));
  grid-gap:20px;
  padding:20px;
  position:relative;
  align-self:center;
}

.product-title-wrapper {
  position:relative;
  display:grid;
  grid-template-rows:40% auto;
  grid-template-columns:1fr;
}

.product-title::after {
  content:'';
  width:100%;
  height:2px;
  background-color:#333;
  display:block;
  margin-top:20px;
}

.product-title {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  display: inline-block;
  margin-bottom: 16px;
  letter-spacing: 0.5em;
  padding-left: 0;
  line-height: 32px;
  color: #333;
  text-transform:uppercase;
  padding:0n 20px 20px 20px;
  //grid-row:1/2;
}

.product-title::before {
  content:'';
  width:100%;
  height:2px;
  background-color:#333;
  display:block;
  margin-bottom:20px;
}



.product-title-p {
  font-family: 'Raleway', sans-serif;
   font-size:18px;
   padding:0;
   line-height:25.8px;
   align-self:start;
   display:grid;
}



.img-content-wrapper {
  overflow:hidden;
  max-height:600px;
  display:grid;
  position:relative;
  background-color:rgba(0,0,0,0.8);
  text-align:center;
}

.img-content-wrapper h2 {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  text-transform:capitalize;
  color:#fff;
  font-family: 'raleway', sans-serif;
  font-weight:900;
  z-index:2;
  letter-spacing:0.2em;
}

.img-content-wrapper img {
  transition:all .5s ease-in-out;
  max-width:100%;
  min-height:100%;
  
}


.ecoSilver-wrapper img {
  object-fit:cover;
  transform:scale(1.05);
  transform:translateZ(0) scale(1.1, 1.1);
}

.copper-wrapper img {
  object-fit:cover;
  transform:translateZ(0) scale(1.1, 1.1);
}


.ecoSilver-wrapper:hover img {
  opacity:.55;
  transform:scale(1.04);

}

.copper-wrapper:hover img {
  opacity:.55;
  transform:scale(1.02);

}






#insta-wrapper {
  max-width:1200px;
  margin:0 auto;
  padding:20px;
  min-height:100%;
  display:grid;
}


.stockist-wrapper {
  display:grid;
  text-align:center;
  min-width:280px;
  max-height:50%;
  //align-self:center;
}

.stockist-title {
  color:#fff;
  font-weight:900;
}

.stockist-title::after {
  content:'';
  width:100%;
  height:2px;
  background-color:#fff;
  display:block;
  margin-top:20px;
}

.stockist-title::before {
  content:'';
  width:100%;
  height:2px;
  background-color:#fff;
  display:block;
  margin-bottom:20px;
}

/*****************************

  STOCKIST FORM CONTENT!

*********************************/

.error {
  background-color:#d9534f;
  opacity:0;
  color:#fff;
  font-weight:bold;
  padding:5px;
  position:absolute;
  width:100%;
  z-index:10;
  transition:all .4s ease-in-out;
}

.success {
  background-color:#5cb85c;
  opacity:0;
  color:#fff;
  font-weight:bold;
  padding:5px;
  position:absolute;
  width:100%;
  z-index:15;
  transition:all .4s ease-in-out;
}

.stockist-form {
  position:fixed;
  height:100vh;
  width:100%;
  top:0;
  left:100vw;
  transition:all .3s ease-in-out;
  transform-origin:right;
  //background-image:linear-gradient(#473183, #408FA2);
  background-image:url('model_shoot/bracelets/bracelet_img_11.jpg');
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
  z-index:100;
  display:grid;
  //display:none;
}

.form-content {
  position:relative;
  display:grid;
  grid-template-columns:1fr;
  max-width:600px;
  //margin:0 auto;
  padding:20px 40px;
  align-self:center;
  justify-self:center;
  background-image:linear-gradient(rgba(0,0,0,0.3), rgba(225,225,225,0.7));
  border-radius:5px;
}

.form-toggle-wrapper {
  position:relative;
  justify-self:end;
  //background-color:black;
  height:32px;
  width:32px;
  cursor:pointer;
  transition:all .2s ease-in-out;
}

.form-toggle-wrapper:hover .toggle-line {
  background-color:#fff;
}

.toggle-line {
  position:absolute;
  background-color:rgba(225,225,225,0.7);
  height:3px;
  width:100%;
  left:0;
  top:50%;
  transform:translateY(-50%);
  border-radius:3px;
  transform-origin:center;
}

.toggle-line-1 {
  transform:rotate(45deg);
  
}

.toggle-line-2 {
  transform:rotate(-45deg);
}

.form-content h1 {
  font-size:42px;
  color:#fff;
  font-family: 'Quicksand', sans-serif;
  padding:20px;
}

.form-content p {
  padding:10px;
  line-height:22px;
  color:#fff;
}

.form-content label {
  justify-self:start;
  color:#fff;
  margin-top:25px;
  font-family: 'Quicksand', sans-serif;
}

.form-content input {
  height:40px;
  padding:0 10px;
}

.form-content textarea {
  height:100px;
  margin-bottom:20px;
  padding:10px 10px;
}

.form-cta {
  padding:10px 0;
  margin-top:10px;
  background-color:#0388CE;
  border:none;
  color:#fff;
  font-weight:700;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor:pointer;
  outline:none;
}

.stockist-grid-wrapper {
  display:grid;
  grid-template-areas:
    'stockist-content';
  min-height:61.8vh;
  position:relative;
  padding:0;
  background-image:url('model_shoot/rings/ring_6.jpg');
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
  background-attachment:fixed;
}

.stockist-content {
  //margin:20px auto;
  max-width:1200px;
  justify-self:center;
  align-self:center;
  grid-area:stockist-content;
}



.stockist-title {
  display:inline-block;
  margin:16px auto;
  text-transform:uppercase;
  font-family: 'Quicksand', sans-serif;
  font-weight:900;
  letter-spacing:.3em;
  
}

.stockist-content .stockist-cta {
  border:none;
  width:50%;
  margin:20px auto;
  padding:10px;
  border-radius:25px;
  border:2px solid rgba(91, 194, 54, 0.4);
  background-color:rgb(245, 245, 245);
  letter-spacing:0.2em;
  text-transform:uppercase;
  min-width:220px;
  cursor:pointer;
  transition:all .2s ease-in-out;
  outline:none;
}

.stockist-content .stockist-cta:hover {
  background-color:#5BC236;
  color:#fff;
  font-weight:700;
}

.stockist-grid-images {
  grid-area:stockist-img;
  align-self:center;
}

.insta-content {
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(195px, 1fr));
  grid-gap:5px;
  //margin:16px auto;
}

.insta-img {
  background-color:rgba(0,0,0,0.7);
  overflow:hidden;
  //object-fit:none;
}

.insta-img img {
  min-width:100%;
  transform:scale(1.07);
  transition:all .5s ease-in-out;
}

.insta-img:hover img {
  opacity:0.7;
}






#footer {
  width:100%;
  background-color:#F5F5F5;
  min-height:100vh;
  display:grid;
}

.footer-content {
  max-width:1200px;
  //margin:0 auto;
  padding:20px;
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-template-areas:
    'sign-up sign-up sign-up'
    'address address address'
    'find-us more-info social';
  grid-row-gap:40px;
  text-align:center;
  justify-self:center;
  align-self:center;
}

.signup-wrapper {
  max-width:1200px;
  margin:16px auto;
  text-align:center;
  padding:20px;
  grid-area:sign-up;
}

.signup-content {
  max-width:500px;
  margin:0 auto;
}

.signup-content h2 {
  font-family:font-family: 'Roboto', sans-serif;
  font-weight:400;
  letter-spacing:.3em;
  line-height:32px;
  font-size:34px;
  text-transform:capitalize;
}

.signup-content p {
  font-family:font-family: 'Roboto', sans-serif;
  letter-spacing:.1em;
  line-height:22px;
  font-size:13px;
  margin:20px 0;
}

.input-wrapper {
  padding:20px 0;
}

.input-content {
  overflow:hidden;
  border:2px solid rgba(91, 194, 54, 0.4);
  position:relative;
  height:50px;
  border-radius:25px;
  
  
}

.input-content input {
  height:100%;
  width:100%;
  padding:0 120px 0 20px;
  border:none;
  outline:none;
  position:absolute;
  left:0;
  background-color:rgb(245, 245, 245);
  letter-spacing:0.2em;
}

.input-content button {
  height:100%;
  border:none;
  width:100px;
  text-transform:uppercase;
  position:absolute;
  right:0;
  outline:none;
  background-color:#5BC236;
  cursor:pointer;
  color:#fff;
  font-weight:700;
  letter-spacing:0.1em;
}

.address-wrapper {
  grid-area:address;
  padding-bottom:10px;
}
.address-wrapper p {
  padding-bottom:10px;
  line-height:22px;
}

.address-wrapper a {
  text-decoration:none;
  letter-spacing:0.1em;
  color:#333;
  opacity:0.7;
}

.address-wrapper a:hover {
  opacity:1;
}

.findUs-wrapper {
  grid-area:find-us;
  text-align:left;
  justify-self:center;
  
}


.moreInfo-wrapper {
  grid-area:more-info;
  text-align:left;
  justify-self:center;
}

.social-footer-wrapper {
  grid-area:social;
  text-align:left;
  justify-self:center;
  
}

.footer-sections {
  margin-bottom:40px;
}

.footer-sections h4 {
  text-align:center;
  padding-bottom:10px;
}

.footer-lists {
  margin:10px 0;
}

.footer-lists li {
  list-style:none;
  line-height:22px;
  text-align:center;
}

.footer-lists li a {
  text-decoration:none;
  color:#333;
  opacity:.7;
  font-family: 'Raleway', sans-serif;

}

.footer-lists li:hover a {
  opacity:1;
  
}



/************************

  GALLERY PAGE!


****************************/

.gallery-content {
  margin:0 auto;
  position:relative;
}

#earrings-wrapper {
  max-height:100%;
  max-width:1200px;
  position:relative;
  margin:0 auto;
  padding:20px;
  margin-bottom:80px;
  text-align:center;
}

.title-earrings,
.title-bracelet,
.title-rings,
.title-necklace {
  position:sticky;
  top:0;
  padding:20px 0;
  background-image:linear-gradient(#fff, rgba(225,225,225,0.7));
  width:100%;
}

#bracelets-wrapper {
  max-height:100%;
  max-width:1200px;
  position:relative;
  margin:0 auto;
  padding:20px;
  margin-bottom:80px;
  text-align:center;
}



#rings-wrapper {
  max-height:100%;
  max-width:1200px;
  position:relative;
  margin:0 auto;
  padding:20px;
  margin-bottom:80px;
  text-align:center;
}



#necklace-wrapper {
  max-height:100%;
  max-width:1200px;
  position:relative;
  margin:0 auto;
  padding:20px;
  margin-bottom:80px;
  text-align:center;
}



.gallery-title {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  display: inline-block;
  margin-bottom: 16px;
  letter-spacing: 0.5em;
  padding-left: 0.5em;
  line-height: 32px;
  text-transform:uppercase;
  margin:40px auto;
 
}






.gallery-earrings {
  justify-self:center;
  display:grid;
  grid-template-columns: repeat(auto-fit, 1fr 1fr 1fr 1fr);
  grid-auto-rows: 100px;
  grid-auto-flow:dense;
  grid-gap:10px;
}

.gallery-bracelet {
  justify-self:center;
  display:grid;
  grid-template-columns: repeat(auto-fit, 1fr 1fr 1fr 1fr);
  grid-auto-rows: 100px;
  grid-auto-flow:dense;
  grid-gap:10px;
}

.gallery-rings {
  justify-self:center;
  display:grid;
  grid-template-columns: repeat(auto-fit, 1fr 1fr 1fr 1fr);
  grid-auto-rows: 100px;
  grid-auto-flow:dense;
  grid-gap:10px;
}

.gallery-necklace {
  justify-self:center;
  display:grid;
  grid-template-columns: repeat(auto-fit, 1fr 1fr 1fr 1fr);
  grid-auto-rows: 100px;
  grid-auto-flow:dense;
  grid-gap:10px;
}


.close {
  background-color:transparent;
  color:#fff;
  border:0;
  outline:none;
  text-transform:uppercase;
  cursor:pointer;
  font-size:28px;
  padding:1em;
}



.item {
  overflow:hidden;
  display:grid;
  grid-template-columns:1;
  grid-template-rows:1;
  object-position:50%, 50%;
}

.item img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  width:100%;
  height:100%;
  object-fit:cover;
  cursor:pointer;
  
}

.item__overlay {
  background-color:#80008032;
  grid-column:1 / -1;
  grid-row: 1 / -1;
  height:100%;
  position:relative;
  display:grid;
  justify-items:center;
  align-items:center;
  transform:translateY(100%);
  transition:all .2s ease-in-out;
  transform-origin:bottom;
  cursor:pointer;
}

.item__overlay button {
  background:none;
  border:2px solid #fff;
  text-transform:uppercase;
  background-color:rgba(0,0,0,0.4);
  color:#fff;
  padding:5px 10px;
  cursor:pointer;
}

.item:hover .item__overlay {
  transform:translateY(0);
}

.item.v2 {
  grid-row:span 2;
}
.item.v3 {
  grid-row:span 3;
}
.item.v4 {
  grid-row:span 4;
}
.item.h2 {
  grid-column:span 2;
}
.item.h3 {
  grid-column:span 3;
}
.item.h4 {
  grid-column:span 4;
}

.gallery-overlay {
  position:fixed;
  background-color:rgba(0,0,0,1);
  top:0;
  right:0;
  bottom:0;
  left:0;
  display:none;
  z-index:10;
}

.gallery-overlay.open {
  display:grid;
}

.overlay-inner {
  display:grid;
  justify-self:center;
  background-color:transparent;
  max-width:700px;
  padding:0;
}

.gallery-overlay img {
  width:100%;
}





/***************************

  ABOUT PAGE!

******************************/

#about-wrapper {
  max-width:1200px;
  min-height:600px;
  text-align:left;
  margin:0 auto;
  display:grid;
  align-self:top;
}

.about-content {
  position:relative;
  max-width:1200px;
  margin:auto;
  display:grid;
  
}

.about-content p {
   font-family: 'Raleway', sans-serif;
   font-size:16px;
   padding:0 20px;
   line-height:25.8px;
   align-self:start;
   display:grid;
}




/****************************

  PRODUCT PAGE!

*******************************/


#product-wrapper {
  
}

.product-content {
  max-width:1200px;
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(220px, 1fr));
  grid-column-gap:20px;
  grid-row-gap:40px;
  padding:20px;
  position:relative;
}

.prod-img {
  overflow:hidden;
  position:relative;
  transition:all .5s ease-in-out;
  background-color:rgba(0,0,0,0.8);
}

.prod-img img {
  max-width:100%;
  min-height:100%;
  object-fit:cover;
  transition:all .5s ease-in-out;
  transform:scale(1.03);
}

.prod-description {
  font-size:16px;
  line-height:25.8px;
  display:grid;
}



.product-btn {
  border: 1px solid rgba(0,0,0,0.7);
  display:grid;
  margin:10px 0;
  text-decoration:none;
  font-size:16px;
  line-height:25.8px;
  font-family: 'Raleway', sans-serif;
  letter-spacing:.2em;
  color:#555;
  border-radius:25px;
  background-color:#fff;
  transition:width .5s ease-in-out;
  transform-origin:center;
  width:50%;
  justify-self:end;
}

.product-btn:hover {
  background-color:rgba(91,194,54,0.9);
  border:1px solid rgb(91,194,54);
  width:70%;
  color:#fff;
  font-weight:bold;
}


.btn-to-product {
  text-decoration:none;
  justify-self:center;
  padding:5px 0;
}



/***************************

  after form submitted


*******************************/

.something h1{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}





/****************************

  SMALLER LAPTOP MEDIA QUERIES


********************************/

@media (max-width:1024px) {
  
  /*HOME PAGE*/
  
  #category-wrapper {
    //max-width:600px;
    display:grid;
    grid-template-columns:1fr 1fr;
    margin:0 auto;
  }
  
  .product-cat {
    max-height:200px;
    justify-self:center;
  }
  
  .earings img {
    object-position:50% -360px;
  }
  
  .necklace img {
    object-position:0% -600px;
  }
  
  .bracelet img {
    object-position:0% -400px;
  }
  
  .rings img {
    object-position:0% 90%;
  }
  
  .product-title-p {
    margin-top:40px;
  }
  
  
  
  
  /*ABOUT PAGE*/
  
  .about-content p {
    padding:0 80px;
  }
  
}




/*****************************

  NAV MENU COLLAPSE TO TOGGLE BTN WIDTH

*****************************/
@media (max-width:655px) {
  
  
  #header {
    position:fixed;
  }
  
  .side-nav {
    display:none;
  }
  
  .menu-wrapper {
    position:absolute;
    top:0;
    height:100vh;
    left:0;
    right:100%;
    background-color:#fff;
    z-index:20;
    overflow:hidden;
    display:grid;
    transition:all .2s linear;
    transform-origin:left;
    box-shadow: inset -10px 0 9px -5px rgba(0,0,0,0.5);
  }
  
  .menu-logo-collapsed {
    display:block;
    text-align:left;
    padding:15px 0 20px 0;
    font-weight:bold;
    font-size:20px;
  }
  
  .menu-content {
    position:absolute;
    transform:translateX(-200px);
    transition:all .2s linear;
    transform-origin:left;
    height:100%;
    width:100%;
    padding-top:20px;
    padding-left:20px;
    overflow:hidden;
    opacity:0;
  }
  
  .menu-content .item {
    display:block;
    text-align:left;
    padding:20px 20px 20px 0;
    width:80%;
    cursor:pointer;
    border-bottom:1px solid rgba(0,0,0,0.5);
  }
  
  .menu-content .item:hover::after {
    width:0;
  }
  
  .menu-content .active::after {
    content:'';
    width:7px;
    height:7px;
    border-radius:50%;
    display:inline-block;
    background-color:#333;
    opacity:.7;
    float:right;
    margin-top:7px;
  }
  
  .contact {
    border-bottom:none!important;
  }
  
  
  .nav {
    grid-template-columns:1fr;
    position:relative;
  }
  
  .logo {
    transition:all .2s ease-in-out;
    text-align:center;
  }
  
  .toggle-wrapper {
    display:block;
    display:grid;
    z-index:500;
  }
  
  .gallery-earrings,
  .gallery-bracelet,
  .gallery-rings,
  .gallery-necklace {
    
    grid-template-columns: repeat(auto-fit,1fr);
    grid-gap:5px;
  }
  .product-title-p {
    margin-top:0;
  }
  
  


}




/*************************

  TABLET MEDIA QUERIES


**********************************/

@media (max-width:768px) {
  
  /*HOME PAGE*/
  
  
  .side-nav {
    display:none;
  }
  
  .underline {
    max-width:450px;
    width:400px;
  }
  
  #category-wrapper {
    max-width:600px;
    display:grid;
    grid-template-columns:1fr;
    margin:0 auto;
  }
  
  .product-cat {
    max-height:200px;
    justify-self:center;
  }
  
  .earings img {
    object-position:50% -360px;
  }
  
  .necklace img {
    object-position:0% -600px;
  }
  
  .bracelet img {
    object-position:0% -400px;
  }
  
  .rings img {
    object-position:0% 90%;
  }
  
  
  .benefits-wrapper {
    max-width:600px;
  }
  
  .benefits-content {
    grid-template-columns:1fr 1fr;
    padding:0;
  }
  
  .benefits-1 {
    grid-column:1/2;
  }
  
  .benefits-2 {
    grid-column:2/3;
  }
  
  .benefits-3 {
    grid-column:1/3;
  }
  
  #main-product-wrapper {
    max-width:600px;
    margin:0 auto;
  }
  
  .product-spec-wrapper {
    grid-template-columns: 1fr;
  }
  
  
  
  .product-title-wrapper {
    grid-template-rows:auto;
    grid-template-columns:1fr 1fr 1fr;
    text-align:center;
  }
  
  .product-title {
    justify-self:center;
    grid-column:1/4;
  }
  
  .product-title-p {
    grid-column:1/4;
    grid-row:2/3;
  }
  
  .img-content-wrapper {
    max-height:400px;
  }
  
  #insta-wrapper {
    padding:20px 0;
  }
  
  .stockist-content {
    max-width:600px;
  }
  
  
  /*PRODUCT PAGE*/
  
  .product-content {
    
    grid-template-columns:1fr 1fr;
    grid-column-gap:20px;
    grid-row-gap:40px;
    padding:20px;
    position:relative;
  }
    
}




/***********************

  MOBILE MEDIA QUERIES

*************************/

@media (max-width:425px){
  
  .underline {
    max-width:280px;
  }
  
  .logo {
    justify-self:left;
  }
  
  
  .insta-link {
    display:none;
  }
  
  .title-content {
    margin:0;
    
  }
  
  .title {
    font-size:16px;
    text-align:center;
  }
  
  .title-content p {
    font-size:12px;
  }
  
  .underline {
    margin:10px auto;
  }
  
  .overlay-inner {
    
    min-width:300px;
    
  }
  
  #category-wrapper {
    padding:20px 0;
  }
  
  .product-spec-wrapper {
    padding:20px 0;
  }
  
  .copper-wrapper img {
    transform:scale(1.04);
  }
  
  #earrings-wrapper {
    padding:20px 0;
  }
  
  #bracelets-wrapper {
    padding:20px 0;
  }
  
  
  #rings-wrapper {
    padding:20px 0;
  }
  
  
  #necklace-wrapper {
    padding:20px 0;
  }
  
  
  
  
  
  
  
  
  .benefits-1 {
    grid-column:1/3;
  }
  
  .benefits-2 {
    grid-column:1/3;
  }
  
  .benefits-3 {
    grid-column:1/3;
  }
  
  .img-content-wrapper {
    min-height:400px;
  }
  
  .product-title::after {
    content:'';
    width:80%;
    margin:20px auto;
  }
  
  .product-title::before {
    content:'';
    width:80%;
    margin:20px auto;
  }
  
  .product-title-p {
    padding:0 20px;
  }
  
  /*PRODUCT PAGE*/
  
  .product-content {
    
    grid-template-columns:1fr;
    grid-column-gap:20px;
    grid-row-gap:40px;
    position:relative;
    padding: 20px 0;
  }
  
  .prod-description {
    padding:0 20px;
  }
  .product-btn {
    justify-self:center;
  }
  
  /*ABOUT PAGE*/
  
  .about-content p {
    text-align:center;
    padding:0 20px;
  }
  
}


/****************************

  MEDIA QUERIES HEIGHT

*********************************/

@media (max-height:425px) {


  .logo {
    justify-self:start;
  }
  
  .side-nav {
    margin-top:40px;
  }
  
  .side-nav-contents{
    padding-left:20px;
    justify-self:start;
  }
  
  .title-content {
    margin-top:85px;
  }
  
  //.stockist-form {
    
    display:block;
  }
  
  .form-content {
    grid-template-columns:1fr 1fr 1fr;
    grid-row-gap:10px;
  }
  
  .form-toggle-wrapper {
    grid-column:3/4;
  }
  
  .form-content h1 {
    grid-column:1/3;
    grid-row:1/1;
    padding:0;
    justify-self:start;
    align-self:center;
    font-size:1.2em;
  }
  
  .form-content p {
    grid-column:1/4;
    justify-self:start;
    text-align:left;
    padding:0 0 10px 0;
  }
  
  .form-content label {
    grid-column:1/1;
    align-self:center;
    margin-top:0;
  }
  
  .form-content input {
    height:28px;
    padding:0 10px;
    grid-column:2/4;
  }
  
  .form-content textarea {
    height:68px;
    margin-bottom:0;
    padding:10px 10px;
    grid-column:2/4;
  }
  
  .form-cta {
    padding:0;
    margin-top:0;
    grid-column:2/4;
    padding:10px 0;
  }
  
  
  .menu-logo-collapsed {
  }
  
  .menu-content .item {
    padding-bottom:8px;
    padding-top:8px;
  }
  
  
  .overlay-inner {
    display:grid;
    justify-self:center;
    background-color:transparent;
    width:320px;
    padding:20px;
  }
  
  

}






/***************************

  CLASS LISTS FOR JS


*****************************/

.title-wrapper-onload {
  opacity:1;
  transform:translateY(0px);
}

.menu-toggle {
  right:20%;
}

.menu-content-slide {
  transform:translateX(0);
  opacity:1;
}


.sub-display {
  min-height:80px;
  z-index:1000;
}

.page-overlayed {
  display:block;
}

.toggle-lineOne-anim {
  background-color:#fff;
  top:50%;
  transition:all .2s ease-in-out;
  width:5px;
  height:5px;
  border-radius:50%;
  transform:translateY(-50%);
  
}

.toggle-lineTwo-anim {
  background-color:#fff;
  top:50%;
  width:5px;
  transition:all .2s ease-in-out;
  height:5px;
  border-radius:50%;
  left:50%;
  transform:translate(-50%, -50%);
  
}

.toggle-lineThree-anim {
  background-color:#fff;
  bottom:50%;
  width:5px;
  transition:all .2s ease-in-out;
  right:0;
  height:5px;
  border-radius:50%;
  transform:translateY(50%);
}




.stockist-form-open {
  /*display:block;*/
  display:grid;
  left:0;
}

.stockist-form-close {
  left:-100vw;
}


.gallery-earrings-opacity {
  opacity:0;
}




/**********************

  PRINT MEDIA QUERY

*******************************/
@media print {
  * {
    background-color:transparent;
    color:#000 !important;
    box-shadow:none !important;
  }
  
}